/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fafaf9;
  color: #111827;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

@keyframes zoom {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.15);
  }
}

.font-serif {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafaf9;
}